header {
  background-color: #000000;
  color: rgb(212, 16, 16);
  padding: 1%;
  text-align: center;
  font-size: 160%;
  font-family: fantasy;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}
nav {
  background-color: #1d1d1d;
  padding: 10px;
  text-align: center;
  font-size: 115%;
}
nav a {
  color: #c41111;
  text-decoration: none;
  padding: 10px;
  font-family: fantasy;
}
main {
  padding: 20px;
}
section {
  margin-bottom: 30px;
  padding: 15px;
  border: 2px solid #d4af37;
}
footer {
  text-align: center;
  background-color: #b60f0f;
  padding: 15px;
  color: rgb(0, 0, 0);
  font-family: serif;
  font-size: 120%;
}
.footer-top {
  background-color: #d4af37;
  text-align: center;
  padding: 1%;
}
.class-historia {
  color: #000000;
  font-family: cursive;
  text-align: center;
}
.class-titulo {
  color: #d4af37;
  font-family: fantasy;
  text-align: center;
}
.class-historiatexto {
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  color: #1d1d1d;
}
.class-body3 {
  background-color: #080000;
}
.class-titulo3 {
  color: #d4af37;
  text-align: center;
  font-family: fantasy;
}

.class-footer3 {
  text-align: center;
  background-color: #ff0000;
  padding: 1px;
  color: rgb(0, 0, 0);
  font-family: serif;
  font-size: 100%;
}
.class-torcida {
  color: #d4af37;
  text-align: center;
  font-family: serif;
}
.class-subtitulo3 {
  color: #b60f0f;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: center;
}
.class-torcidatexto {
  color: #b60f0f;
  text-align: center;
}
.class-poropopo {
  text-align: center;
}
.class-camisa12 {
  text-align: center;
}
.class-pavilhao9 {
  text-align: center;
}
.class-estopimdafiel {
  text-align: center;
}
.class-CoringãoChopp {
  text-align: center;
}
.class-body1 {
  background-color: #e40f0f;
}
.class-body2 {
  background-color: #000000;
}
.footer-top2 {
  background-color: #d4af37;
  text-align: center;
  padding: 0.5%;
}
.class-titulo2 {
  color: #d4af37;
  font-family: fantasy;
  text-align: center;
}
.class-subtitulo2 {
  color: #d4af37;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: center;
}
.class-textitulo {
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  color: #ff0000;
}
.class-mundial {
  text-align: center;
}
.class-libertadores {
  text-align: center;
}
.class-brasileirao {
  text-align: center;
}
.class-copadobrasil {
  text-align: center;
}
.class-supercopa {
  text-align: center;
}
.class-paulistao {
  text-align: center;
}
.class-brasileiraob {
  text-align: center;
}
