header {
  background-color: #09a3eb;
  color: rgb(255, 255, 255);
  padding: 1%;
  text-align: center;
  font-size: 160%;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}
nav {
  background-color: #001d7c;
  padding: 10px;
  text-align: center;
  font-size: 115%;
}
nav a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  padding: 10px;
}
main {
  padding: 20px;
}
section {
  margin-bottom: 30px;
  padding: 15px;
  border: 2px solid #09a3eb;
}
footer {
  text-align: center;
  background-color: #001d7c;
  padding: 15px;
  color: aliceblue;
}
.footer-top {
  background-color: #09a3eb;
  text-align: center;
  padding: 3%;
}
