header {
  background-color: #000000;
  color: rgb(212, 16, 16);
  padding: 1%;
  text-align: center;
  font-size: 160%;
  font-family: fantasy;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}
nav {
  background-color: #1d1d1d;
  padding: 10px;
  text-align: center;
  font-size: 115%;
}
nav a {
  color: #c41111;
  text-decoration: none;
  padding: 10px;
  font-family:fantasy;
}
main {
  padding: 20px;
}
section {
  margin-bottom: 30px;
  padding: 15px;
  border: 2px solid #D4AF37;
}
footer {
  text-align: center;
  background-color: #b60f0f;
  padding: 15px;
  color: rgb(0, 0, 0);
  font-family: serif;
  font-size: 120%;
}
.footer-top {
  background-color: #D4AF37;
  text-align: center;
  padding: 1%;
}
h2 {
  color: #000000;
  font-family: cursive;
  text-align: center;
}
.class-titulo {
  color: #D4AF37;
  font-family: fantasy;
  text-align: center;

}
p {
 text-align: center;
 font-family: 'Courier New', Courier, monospace;
 color: #1d1d1d;
}